.btn {
  text-decoration: none;
  color: #fff;
  background-color: $mainDarkBlue;
  font-weight: 300;
  padding: .7rem 1.1rem;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba($mainDarkBlue, .55);
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    box-shadow: 4px 4px 8px rgba($mainDarkBlue, .75);
  }


  &--uppercase {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &--lightBlue {
    background: $mainLightBlue;

  }

  &--large {

    padding: 1.1rem 1.7rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

  &--gitHub {
    position: relative;
    padding-left: 3.1rem;

    &__icon {
      display: block;
      position: absolute;
      top: 18%;
      left: 5%;
      margin: 0 auto;

    }
  }
}
