.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__text-content {
    left: 0;
    width: 100%;
    text-align: left;
    padding-top: 5.5rem;
    padding-bottom: 2rem;

    @mixin atSmall {
      padding-top: 7.5rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;


    @mixin atSmall {
      font-size: 1.75rem;
    }

    @mixin atMedium {
      font-size: 2rem;
    }

    @mixin atLarge {
      font-size: 2.5rem;
    }

  }

  &__description {
    font-size: 1.1rem;
    font-weight: 200;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;

    @mixin atSmall {
      font-size: 1.75rem;
      max-width: 75rem;
    }

    @mixin atLarge {
      font-size: 2rem;
      max-width: 85rem;
    }


  }

}
