.large-hero {
  border-bottom: 10px solid $mainDarkBlue;
  position: relative;

  &__title {
    color: $mainDarkBlue;
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;

    @mixin atSmall {
      font-size: 2.5rem;
    }

    @mixin atMedium {
      font-size: 2.75rem;
    }

    @mixin atLarge {
      font-size: 3.65rem;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    color: $mainDarkBlue;

    @mixin atSmall {
      font-size: 1.75rem;
    }

    @mixin atMedium {
      font-size: 2rem;
    }

    @mixin atLarge {
      font-size: 2.25rem;
    }
  }


  &__text-content {
    left: 0;
    width: 100%;
    text-align: left;
    padding-top: 5.5rem;
    padding-bottom: 2rem;

    @mixin atSmall {
      padding-top: 7.5rem;
    }
  }


  &__description {
    font-size: 1rem;
    font-weight: 300;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.45;

    @mixin atSmall {
      font-size: 1.1rem;
      max-width: 75rem;
    }

    @mixin atLarge {
      font-size: 1.2rem;
      max-width: 85rem;
    }


  }

}
