.row {

 @mixin clearfix;

  @mixin atMedium {
    &__medium-6 {
      float: left;
      width: 50%;
    }
  }


  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters > div {
    padding-right: 65px;

  }

  &--gutters-large > div {
    padding-right: 100px;
  }

}
