.section-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  color: $mainDarkBlue;
  font-weight: 400;

  &--small-margin {
    margin: 1.25rem 0;
  }

  &--white {
    color: #ffff;
  }

  &--centered {
    text-align: center;
  }

  @mixin atSmall {
    font-size: 1.75rem;
  }

  @mixin atLarge {
    font-size: 2.5rem;
  }

  strong {
    font-weight: 500;
  }

  /*&__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall {
      position: relative;
      top: 10px;
      margin-right: .5rem;
      margin-left: 0;
      display: inline-block;
      margin-bottom: 0;
    }
  }*/
}
